<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Codilar_ProShopping::proactive_shopping" title="Pro-Active Shopping" sortOrder="100">
                    <resource id="Codilar_ProShopping::product_recommendation" title="Pro-Active product recommend" sortOrder="10"/>
                    <resource id="Codilar_ProShopping::popup" title="Welcome Message" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
